@font-face {
  font-family: "DotMatrix";
  src:
    local("DotMatrix"),
    url("/fonts/robotronfontepica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fallback font styles */
.font-not-loaded {
  font-family: monospace;
}
